* {
	margin:0;
	padding:0;
	list-style:none;
}

@font-face {
  font-family: segoe;
  src: url('segoe.TTF');
} 

@font-face {
  font-family: yale;
  src: url('yale.ttf');
} 

body {
	font-family: segoe;
	font-size: 11px;
	margin:0px;
}

#wrapper{
	border:0px solid #EEE;
	padding:5px;
	width:800px;
    position:relative;
	left:50%;
	top:50%;
	margin-left:-404px;
	z-index:2;
	margin-top:-50px;
}


.tab_container *{
	float:left;
	width:140px; /*controls width of tabs*/
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
}

#title{
	width:auto;
	height:200px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-family: yale;
	font-size: 72px;
}

#menu{
	background-color: #0F4D92;
	height: 24px;
	margin-bottom: 30px;
	padding-top: 6px;
	color: #FFFFFF;
}

.closing-soon{
    background-color:#CDCDCD;
}
.hidden{
    opacity:0;
    display:none;
}

.ui-accordion { width: 100%; }
.ui-accordion .ui-accordion-header { cursor: pointer; position: relative; margin-top: 1px; zoom: 1;}
.ui-accordion .ui-accordion-li-fix { display: inline; }
.ui-accordion .ui-accordion-header-active { border-bottom: 0 !important; }
.ui-accordion .ui-accordion-header a { display: block; font-size: 1em; padding: .5em .5em .5em .7em; }
.ui-accordion-icons .ui-accordion-header a { padding-left: 2.2em; }
.ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px; }
.ui-accordion .ui-accordion-content { padding:10px; border-top: 0; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow: auto; display: none; zoom: 1; }
.ui-accordion .ui-accordion-content-active { display: block; }
