* {
	margin:0;
	padding:0;
	list-style:none;
        font-family:Helvetica;
}

@font-face {
  font-family: segoe;
  src: url('segoe.TTF');
} 

@font-face {
  font-family: yale;
  src: url('yale.ttf');
} 

body {
	font-family: segoe;
	font-size: 14px;
	margin:0px;
      	background-repeat: no-repeat;
	background-attachment: fixed;
        background-position:center;
}


.bgdef {background-image:url(../images/default.jpg);}

#wrapper{
	border:0px solid #EEE;
	padding:5px;
	width:800px;
    position:relative;
	left:50%;
	top:50%;
	margin-left:-404px;
	z-index:2;
	margin-top:180px;
	margin-bottom:40px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: rgba(255, 255, 255, 0.8);
	padding-top:30px;
	border-radius: 10px;
}
   
/*about page*/
#about{
	border-radius: 20px;
	border: 1px solid #000000;
	margin-bottom: 40px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	font-size: 14px;
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	margin-top: 100px;
}



.tab_container *{
	float:left;
	width:140px; /*controls width of tabs*/
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.title_el{
	width:440px;
	height:90px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-family: yale;
	font-size: 60px;
	border-radius: 10px;
	background: #333333;
	margin-bottom: 10px;
}

#menu{
        font-family: Helvetica;
	background-color: #333333;
	height: 24px;
	margin-bottom: 30px;
	padding-top: 6px;
	color: #FFFFFF;
}

a.menu{
	color: #FFFFFF;
	text-decoration: none;
}
a.menu:hover{
  color: yellow; /*rgba(51,133,255,0.8);*/
}

a {
  color:black;
}
a:hover {
  color: yellow;
}



.closing-soon{
    background-color:#CDCDCD;
}
.hidden{
    opacity:0;
    display:none;
}

.btn {
		font-family: Helvetica;
	margin-left: 5px;
	margin-right:5px;
	padding:5px 10px;
	margin-top: 4px;
	display:block;
	float:left;
	cursor: pointer;
	cursor: hand;
	border-left-width: 6px;
	border-left-color: rgba(180,180,180,1);/*#3385FF;*/
	border-left-style: solid;
}
.btnc {
		font-family: Helvetica;
	margin-right:5px;
	padding:5px 10px;
	margin-top: 4px;
	display:block;
	float:left;
	cursor: pointer;
	cursor: hand;
	border-left-width: 6px;
	border-left-color: #666666;
	border-left-style: solid;
}

.btn2#filter-none {
  margin-left:0px;


}
.btn2#filter-misc{
  margin-right:0px;
}

.btn2 {
		font-family: Helvetica;
	color:#FFFFFF;
	margin-right:5px;
	padding:5px 10px;
	border-radius:4px;
	border:solid 1px #666;
	display:block;
	float:left;
	cursor: pointer;
	cursor: hand;
	width: 105px;
	margin-left: 2px;
	text-align: center;
	background-image: -webkit-linear-gradient(bottom, rgb(71,71,71) 33%, rgb(43,39,43) 67%);
background-image: -moz-linear-gradient(bottom, rgb(71,71,71) 33%, rgb(43,39,43) 67%);	
background-image: -ms-linear-gradient(bottom, rgb(71,71,71) 33%, rgb(43,39,43) 67%);	
background-image: -o-linear-gradient(bottom, rgb(71,71,71) 33%, rgb(43,39,43) 67%);	
}

.btn2:hover {
	background-image: -webkit-linear-gradient(bottom, rgb(71,71,71) 33%, rgb(71,71,71) 67%);	
	background-image: -moz-linear-gradient(bottom, rgb(71,71,71) 33%, rgb(71,71,71) 67%);	
	background-image: -ms-linear-gradient(bottom, rgb(71,71,71) 33%, rgb(71,71,71) 67%);
	background-image: -o-linear-gradient(bottom, rgb(71,71,71) 33%, rgb(71,71,71) 67%);
	}
	
.btn2select {
	background-image: -webkit-linear-gradient(bottom, rgb(120,120,120) 33%, rgb(85,85,85) 67%);	
	background-image: -moz-linear-gradient(bottom, rgb(120,120,120) 33%, rgb(85,85,85) 67%);	
	background-image: -ms-linear-gradient(bottom, rgb(120,120,120) 33%, rgb(85,85,85) 67%);
	background-image: -o-linear-gradient(bottom, rgb(71,71,71) 33%, rgb(71,71,71) 67%);
	}

.btn2select:hover {
	background-image: -webkit-linear-gradient(bottom, rgb(120,120,120) 33%, rgb(120,120,120) 67%);	
	background-image: -moz-linear-gradient(bottom, rgb(120,120,120) 33%, rgb(120,120,120) 67%);	
	background-image: -ms-linear-gradient(bottom, rgb(120,120,120) 33%, rgb(120,120,120) 67%);	
	background-image: -o-linear-gradient(bottom, rgb(71,71,71) 33%, rgb(71,71,71) 67%);
}


input.search {
    font:normal 12px/1.3 'helvetica neue', helvetica, arial;
	font-size:20px;
    padding:2px 10px;
    padding-top: 0px;
    border-radius:4px;
    border:solid 1px #555;
    float:left;
    margin-right:10px;
    margin-bottom:15px;
	width: 775px;

}
input.search:focus {
    border:none;
    outline:none;
    background-color:#eee;
    border-top:solid 1px #aaa;
    border-right:solid 1px #e6e6e6;
    border-bottom:solid 1px #e6e6e6;
    border-left:solid 1px #aaa;
}

.loc_el{
	color:#000000;/* #FFFFFF;*/
	height:20px;
	margin-top: 4px;
	margin-right: 2px;
	margin-bottom: 4px;
	margin-left: 2px;
	padding-top: 4px;
	padding-right: 6px;
	padding-bottom: 4px;
	padding-left: 6px;
	border-radius: 4px;
	background-color: rgba(220,220,220,1); /*rgba(51,133,255,0.8); /*rgba(0,204,122,0.9);  #0F9692;*/
	border: 1px solid #000000;
	font-family: Helvetica;
	}
	
.loc_el:hover {
  border-color:yellow;
}

.closed_loc{
	background-color: #666666;
	color: #FFFFFF;

}

.name{
	float:left;
	width: 610px;
	cursor: pointer;
	cursor: hand;
	font-weight: bold;

	}
.timeleft{
	float:left;
	font-weight: bold;
	
	}
.expand{
	min-height: 124px;
        height:auto;
        height:124px;
        overflow:hidden;
	}
.address{
	margin-top: 24px;
	float:left;
	width: 500px;
	}
.hours{
	margin-top: 24px;
	float:right;
	margin-right:14px;
	border: 1px solid #000000;
	border-radius: 4px;
	padding: 6px;
	width: 240px;
	text-align: center;
	}
.link {
  float:left;
}
    
#PlaceList {
	margin-bottom: 30px;
   }
  
#future {
	margin-left: 280px;
	border-radius: 10px;
	width: 320px;
	padding: 8px;
        padding-bottom: 2px;
	margin-bottom: 2px;
        font-size:11px;
        position:relative;
}
    
#notifier {
  height:10px;
  margin: 0px auto;
  text-align: center;
  padding: 0px;
}

.gobtn {
  position:absolute;
  height:18px;
  margin-top:0px;
  padding:0px;
  padding-left:3px;
  bottom:2px;
  cursor: pointer;
  cursor: hand;
}

#input_time{
  font-size:11px;
  width:52px;
}

/* TimeEntry styles */
.timeEntry_control {
	vertical-align: middle;
	margin-left: 2px;
}
* html .timeEntry_control { /* IE only */
	margin-top: -4px;
}

