* {
	margin:0;
	padding:0;
	list-style:none;
}

@font-face {
  font-family: segoe;
  src: url('segoe.TTF');
} 

@font-face {
  font-family: yale;
  src: url('yale.ttf');
} 

body {
	font-family: segoe;
	font-size: 11px;
	margin:0px;
}

#wrapper{
	border:0px solid #EEE;
	padding:5px;
	width:800px;
    position:relative;
	left:50%;
	top:50%;
	margin-left:-404px;
	z-index:2;
	margin-top:-50px;
}


.tab_container *{
	float:left;
	width:140px; /*controls width of tabs*/
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#title{
	width:auto;
	height:200px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-family: yale;
	font-size: 72px;
}

#menu{
	background-color: #0F4D92;
	height: 24px;
	margin-bottom: 30px;
	padding-top: 6px;
	color: #FFFFFF;
}

a.menu{
	color: #FFFFFF;
	text-decoration: none
}

.closing-soon{
    background-color:#CDCDCD;
}
.hidden{
    opacity:0;
    display:none;
}

.btn {
    color:#000000;
    margin-right:5px;
    padding:5px 10px;
    border-radius:10px;
    border:solid 1px #666;
    display:block;
    float:left;
    background-color:rgba(0,0,0,.1);
    cursor: pointer;
	cursor: hand;
}
.btn:hover {
    background-color:rgba(255,255,255,.05);
    color:#ccc;
}

input.search {
    font:normal 12px/1.3 'helvetica neue', helvetica, arial;
	font-size:20px;
    padding:2px 10px;
    border-radius:10px;
    border:solid 1px #555;
    float:left;
    margin-right:10px;
    margin-bottom:15px;
}
input.search:focus {
    border:none;
    outline:none;
    background-color:#eee;
    border-top:solid 1px #aaa;
    border-right:solid 1px #e6e6e6;
    border-bottom:solid 1px #e6e6e6;
    border-left:solid 1px #aaa;
}

.loc_el{
	height:20px;
	/*border: 1px solid #000000;*/
	/*border-radius: 5px;*/
	margin-top: 4px;
	margin-right: 2px;
	margin-bottom: 4px;
	margin-left: 2px;
	padding-top: 4px;
	padding-right: 6px;
	padding-bottom: 4px;
	padding-left: 6px;
    /*   margin: 10px;*/
   border: 1px solid rgba(0,0,0,0.5);
   border-radius: 10px 10px 10px 10px;
   background: rgba(0,0,0,0);
   background-color: rgba(25,100,200,0.4);
   box-shadow: 0 2px 2px rgba(0,0,0,0.25), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -2px 15px rgba(0,0,0,0.25);
/*   -o-box-shadow: 0 2px 6px rgba(0,0,0,0.25), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.25), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.25), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  */ 
	}
.name{
	float:left;
	width: 680px;
	}
.timeleft{
	float:left;
	}
.expand{
	height: 80px;
	}
.ratings{
	border: 1px solid #000000;
	float:left;
	margin-top: 10px;
	padding: 4px;
	margin-right: 20px;
	}
.map{
	border: 1px solid #000000;
	float:left;
	margin-top: 10px;
	padding: 4px;
	margin-right: 500px;
	}
.address{
	margin-top: 10px;
	float:left;
	width: 500px;
	}
.hours{
	float:right;
	margin-right:20px;
	}
    
   
/*about page*/
#about{
	 border-radius: 20px; 
	 border: 1px solid #000000;
	 height: 500px;
	 width: 600px;
	 margin-left: auto;
	 margin-right: auto;
	 padding: 20px;
}
	
	 
    
    
    
    