* {
	margin:0;
	padding:0;
	list-style:none;
}

@font-face {
  font-family: segoe;
  src: url('segoe.TTF');
} 

@font-face {
  font-family: yale;
  src: url('yale.ttf');
} 

body {
	font-family: segoe;
	font-size: 11px;
	margin:0px;
}

#basic-accordian{
	border:0px solid #EEE;
	padding:5px;
	width:800px; /*controls width of whole accordion*/
	position:relative;
	left:50%;
	top:50%;
	margin-left:-404px;
	z-index:2;
	margin-top:-50px;
}

#accordion{
	border:0px solid #EEE;
	padding:5px;
	width:800px; /*controls width of whole accordion*/
	position:relative;
	left:50%;
	top:50%;
	margin-left:-404px;
	z-index:2;
	margin-top:-50px;
}

.accordion_headings{
	padding:5px;
	background:#0F4D92;
	color:#FFFFFF;
	border:1px solid #FFF;
	cursor:pointer;
	font-weight:bold;
}

.accordion_headings:hover{
	background:#00CCFF;
}

.accordion_child{ /*controls width of grey content box*/
	padding:15px;
	width: 768px;
	background:#EEE;
}

.header_highlight{
	background:#00CCFF;
}

.tab_container *{
	float:left;
	width:140px; /*controls width of tabs*/
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
}

#title{
	width:auto;
	height:200px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-family: yale;
	font-size: 72px;
}

#menu{
	background-color: #0F4D92;
	height: 24px;
	margin-bottom: 30px;
	padding-top: 6px;
	color: #FFFFFF;
}

.wd-open {

}

.wd-closed {


}

.hidden{
    display:none;
}

.shown{
    display:inline;
}
